.home-container {
  padding-top: 145px;
}

@media (min-width: 768px) {
  .home-container {
    padding-top: 170px;
  }
}

@media (min-width: 320px) {
  .homebanner {
    margin-top: none;
  }
  .container-fluid1 {
    margin-top: 0 !important;
  }
}
